@import '../../../styles/abstract/variables.scss';

.infobox {
    display: flex;
    align-items: center;
    margin-bottom: 3.7rem;
    justify-content: space-around;

    @media (max-width: 800px) {
        width: 220px;
    }
    @media (max-width: 600px) {
        width: 170px;
        margin-bottom: 5px;
    }

    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 12rem;
        height: 12rem;
        box-shadow: 0px 3px 16px rgba(183, 183, 183, 0.6);
        border-radius: 2rem;
        background-color: $color-white;
        margin-right: 20px;
        flex: 0 0 30%;

        // @media (max-width: 1300px) {
        //     width: 70px;
        //     height: 70px;

        // }

        @media (max-width: 800px) {
            width: 60px;
            height: 60px;
        }
        @media (max-width: 600px) {
            width: 40px;
            height: 40px;
        }

        img {
            width: 9rem;
            max-height: 9rem;

            // @media (max-width: 1300px) {
            //     width: 50px;
            //     height: 50px;
    
            // }

            @media (max-width: 800px) {
                width: 40px;
                height: 40px;
            }

            @media (max-width: 600px) {
                width: 20px;
                height: 20px;
            }
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        flex: 0 0 70%;
        justify-content: space-around;
        align-content: space-around;  
    }

    &__header {
        color: $color-text-default;
        font-size: 2.4rem;
        font-weight: 700;
        @media (max-width: 1300px) {
            font-size: 18px;
            font-weight: 700;
        }
        @media (max-width: 800px) {
            font-size: 12px;
            font-weight: 600;
        }
        @media (max-width: 800px) {
            font-size: 10px;
            font-weight: 600;
        }
    }

    &__paragraph {
        display: flex;
        flex-wrap: wrap;
        color: $color-text-default;
        font-size: 1.8rem;
        font-weight: 400;

        @media (max-width: 1300px) {
            font-size: 14px;
            font-weight: 700;
        }

        @media (max-width: 800px) {
            font-size: 10px;
            font-weight: 600;
        }
        @media (max-width: 600px) {
            font-size: 8px;
            font-weight: 600;
        }
    }
}
