@import '../../../styles/abstract/variables.scss';

.questions {
    background-image: url('../../../assets/img/Bg_6.png') center center fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    padding: 100px 0 148px 0;


    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__header {
        font-weight: 600;
        font-size: 54px;
        line-height: 65px;
        margin-bottom: 58px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        @media (max-width: 800px) {
            justify-content: space-around;
            align-items: center;
        }
    }


    &__form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-right: 40px;
        .form__main {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @media (max-width: 800px) {
                align-items: center;
            }
        }
    }
    .form__inf {
        padding: 48px 30px;
        background: rgba(255, 255, 255, 0.4);
        border: 1px solid #FFFFFF;
        box-shadow: 0px 3px 12px rgba(183, 183, 183, 0.3);
        backdrop-filter: blur(5px);
        border-radius: 20px;
        margin-bottom: 33px;
    }
    .form__button {
        &:hover {
            color: $color-text-default;
            border: 1px solid $color-text-default;
        }
        cursor: pointer;
        align-self: start;
        height: 6.6rem;
        width: 24rem;
        max-width: 24.1rem;
        color: $color-white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        padding: 12px;
        gap: 12px;
        border: 0;
        margin-bottom: 25px;
        background-color: $color-gold-light;
        border-radius: 50px;
        transition: all .3s;

        &--img {        
            height: 16px;
            width: 16px;
            fill: $color-white;
        }


    }
    .bg__border {
        background-image: url(../../../assets/img/Quastionselection.png);
    }

    &__addition {
        display: flex;
            &--ok {
                margin-right: 1.5rem;
            }

            &--text {
                font-size: 1.6rem;
            }
        }

    &__message {
        width: 55.6rem;
        height: 63.1rem;
        background-image: url('../../../assets/img/Woman_6.png');
        background-size: cover;
        @media (max-width: 800px) {
            width: 300px;
            height: 350px;
        }
        @media (max-width: 1200px) {
            width: 400px;
            height: 450px;
        }

        @media (max-width: 800px) {
            display: none;
        }
    }

}
.form__input-wrap {
    width: 395px;
    height: 67px;
    position: relative;
    margin-bottom: 20px;
}
.form__textare-wrap {
    width: 395px;
    height: 91px;
    position: relative;
    margin-bottom: 20px;
}
.form__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
    font-size: 16px;
    color: #A9AEB2;
    z-index: 3;
}
.form__icon-textarea {
    top: 28px;
}