@import '../styles/abstract/variables.scss';
@import './reset.scss';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 50%;

    @media (max-width: 1200px) {
        font-size: 50%;
    }

    @media (max-width: 1070px) {
        font-size: 40%;
    }

    @media (max-width: 800px) {
        font-size: 40%;
    }

    @media (max-width: 600px) {
        font-size: 20%
    }
    @media (max-width: 375px) {
        font-size: 20%
    }
}

body {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 24px;
    color: $color-text-default;
}

ul {
    list-style: none;
}

a:link,
a:visited {
    text-decoration: none;
}

.bg__border {
    padding: 20px 20px 20px 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.vebinar-border {
    padding: 67px 26px 68px 9px;
}
.container--big {
    max-width: 1450px;
    margin: 0 auto;
}
.container--mini {}
