@import '../../../styles/abstract/variables.scss';

.payments {
    width: 100%;
    height: 8.1rem;
    border-top: 1px solid #E3E3E3;
    &__list {
        display: flex;
        height: 100%;
        justify-content: space-around;
        align-items: center;
    }
    &__icon {
        max-height: 3.3rem;
        max-width: 7.5rem;

        filter:grayscale(100%);

        &:hover {
            filter: none;
        }
    }
}