@import '../../../styles/abstract/variables.scss';

.payments {
    width: 100%;
    padding: 30px 20px;
    border-top: 1px solid #E3E3E3;
    &__list {
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        justify-items: center;
        align-items: center;
        height: 100%;
    }
    &__icon {
        max-height: 33px;
        max-width: 75px;

        filter:grayscale(100%);

        &:hover {
            filter: none;
        }
    }
}

@media only screen and (max-width: 725px) {
    .payments__list {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 40px;
    }
}