@import '../../../styles/abstract/variables.scss';

.our-courses__card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid #FFFFFF;
    box-shadow: 0px 3px 12px rgba(183, 183, 183, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    text-align: center;
    padding: 20px 10px;
    &--title {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #3C4852;
    }

    &--subject {
        font-weight: 200;
        font-size: 22px;
        line-height: 19px;
        color: #3C4852;
    }

    &--timeplan {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: $color-gray-superlight;
    }

    &--lector {
        display: flex;
        align-items: center;
    }

    &--lectoravatar {
        height: 38px;
        width: 38px;
    }

    &--lectorname {
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: $color-text-default;
    }

    &--rating {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 18px;
    }

    &--price {
        font-weight: 700;
        font-size: 38px;
        line-height: 46px;
    }
}

@media only screen and (max-width: 800px) {
    .our-courses__card {
        &--title {
            font-size: 20px;
            line-height: 29px;
        }
    
        &--subject {
            font-size: 18px;
        }
    
        &--timeplan {
            font-size: 15px;
        }
    
        &--lectorname {
            font-size: 22px;
        }
    
        &--price {
            font-size: 30px;
            line-height: 43px;
        }
    }
}