@import '../../../styles/base/typography.scss';
@import '../../../styles/abstract/variables.scss';

.webinar-card {
    height: 300px;
    width: 355px;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid #FFFFFF;
    box-shadow: 0px 3px 12px rgba(183, 183, 183, 0.3);
    backdrop-filter: blur(1rem);
    margin-right: 53px;
    border-radius: 20px;

    &__wrapper {
        display: flex;
        width: 100%;
        justify-content: space-between;
        transform: translateY(-100%);
    }

    &__preview {
        width: 100%;
        height: 100%;
        position: relative;

        &--timeline {
            background: $color-gold-light;
            border-radius: 3px 0px 0px 3px;
            padding: 3px 6px;
            text-align: center;
            font-size: 16px;
            font-weight: 600;
        }
        &--photo {
            height: 100%;
            width: 100%;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-top-right-radius: 2rem;
                border-top-left-radius: 2rem;
                background-size: cover;
            }
        }
    }

    &__footer {

        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-around;

        &--lectoravatar {
            img {
                height: 4.2rem;
            }
        }

        &--videoname {
            flex: 0 0 70%
        }

        &--postedat {
            color: $color-gray-superlight;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
        }
    }
}

.webinar-card__preview--rating img {
    width: 19.85px;
    height: 18.96px;
  }

  @media only screen and (max-width: 800px) {
    .webinar-card {
        height: auto;
        width: 300px;
    }
  }