.best-lectors {
    background-image: url('../../../assets/img/Bg_5.png');
    width: 100%;
    background-size: cover;
    margin-bottom: 120px;
    padding: 10px 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    &__col--1 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-right: 50px;

        .best-lectors__header {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 15px;
        }

        &__btn_and_card {
            width: inherit;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            @media (max-width: 800px) {
                flex-direction: column;
                align-content: space-between;
            }
        }
    }
    .bg__border {
        background-image: url(../../../assets/img/teacherSelection.png);
    }
    &__col--2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        @media (max-width: 800px) {
            align-items: flex-start;
            justify-content: center;
        }

        @media (max-width: 375px) {
            align-items: flex-start;
            justify-content: center;
        }
        
        &__first {
            width: 100%;
            align-self: end;
            display: flex;
            justify-content: start;

            @media (max-width: 800px) {
                align-self: start;
                margin-bottom: 40px;
            }
        }

        &__second {
            width: 100%;
            display: flex;
            justify-content: end;
        }
    }
}

.best-lectors-btn {
    margin-right: 20px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 800px) {
    .best-lector__card {
        width: 100%;
    }
    .best-lectors__col--1__lastcard {
        display: flex;
        justify-content: end;
    }
    .best-lectors {
        margin-bottom: 50px;
    }
    .best-lectors-btn {
        margin-bottom: 35px;
    }
}

@media only screen and (max-width: 500px) {
    .best-lectors__col--1 {
        margin-right: 0;
    }
    .best-lector__card {
        width: auto;
    }
    .best-lectors__col--2 {
        align-items: center;
    }
    .best-lectors__col--2__first {
        align-self: auto;
    }
}