.best-lectors {
    background-image: url('../../../assets/img/Bg_5.png');
    width: 100%;
    background-size: cover;
    margin-bottom: 120px;

    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    &__col--1 {
        width: 645px;
        height: 89px;
        display: flex;
        flex-direction: column;
        flex: 0 0 40%;
        justify-content: space-around;
        align-items: center;

        .best-lectors__header {
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 600;
            font-size: 54px;
            line-height: 65px;
            margin-bottom: 15px;

            @media (max-width: 1030px) {
                margin-left: 72px;
            }

            @media (max-width: 800px) {
                font-size: 35px;
            }
            @media (max-width: 800px) {
                font-size: 21.2px;
            }
        }

        @media (max-width: 800px) {
            width: 200px;
            align-items: flex-start;
        }

        &__btn_and_card {
            width: inherit;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            @media (max-width: 800px) {
                flex-direction: column;
                align-content: space-between;
                height: 290px;
            }
        }

        &__firstcard {
            width: 300px;
        }

        &__lastcard {
            width: 380px;
        }
    }
    .bg__border {
        background-image: url(../../../assets/img/teacherSelection.png);
    }
    &__col--2 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 89rem;
        width: 50rem;




        @media (max-width: 800px) {
            width: 200px;
            align-items: flex-start;
            justify-content: center;
        }

        @media (max-width: 375px) {
            width: 150px;
            align-items: flex-start;
            justify-content: center;
        }
        
        &__first {
            align-self: end;
            width: 38rem;
            display: flex;

            @media (max-width: 800px) {
                align-self: start;
                margin-bottom: 40px;
            }
        }

        &__second {
            width: 30rem;
            display: flex;
            justify-content: flex-start;
        }
    }
}