
.footer {
    width: 100%;
    background-color: #F6F7FB;
    background-size: cover;
    padding: 44px 20px;
    .row {
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        align-items: center;
        height: 100%;
        gap: 20px;
    }

    .col-1-of-4 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex: 0 0 10%;
    }

    &__header {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 16px;
    }

    &__text {
        margin-top: 22px;
        text-align: left;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
    }

    &__links {
        margin-top: 22px;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        display: block;
    }

    &__soclinks {
        display: flex;
    }

    &__soclink {
        height: 23.5px;
        &:not(:last-child) {
            margin-right: 19.33px;
        }
        .link {
            width: 23.3px;
            height: 23.3px;
            filter:grayscale(120%);
    
            &:hover {
                filter: none;
            }
        }
    }

    &__logo {
        height: 29px;
        margin-bottom: 42px;
        .logo {
            width: 160px;
            height: 29px;
        }
    }

}
.footer__link + .footer__link {
    margin-top: 8px;
} 

@media only screen and (max-width: 667px) {
    .footer .row {
        grid-template-columns: repeat(2, 1fr);
        justify-items: start;
    }
}