@import '../abstract/variables.scss';

.main-header-big {
    color:$color-text-default;
    font-weight: 600;
    font-size: 54px;
    line-height: 65px;
}
.main-header-small {
    color:$color-text-default;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.main-text-goldeffect {
    color: $color-gold-light;
    background-color: rgba($color: $color-gold-light, $alpha: .3);
    
}

@media only screen and (max-width: 820px) {
    .main-header-big {
        font-size: 34px;
        line-height: 45px;
    }
}